.task .react-codemirror2{
    width: 48vw;
}

.task .react-codemirror2 .CodeMirror {
    height: 60vh;
}

.task .result::before{
    content: 'Результат: ';
}

.task .result{
    width: 100%;
    padding: 5px;
    color: var(--white-color);
    margin-top: 30px;
}